<h1>Family Social Network Development Site</h1>
<p>
	This website was developed to keep everyone who is interested in the site informed to the 
	progress of development on the full site. The <%= link_to "About", about_path %> page 
	will contain the version information that I am currently at on the real site as well as its 
	purposed features. The <%= link_to "Site News", news_path%> page will contain 
	all of the updates dealing with the development. Finally, if you wish to contact me 
	with any ideas or comments please let me know. I have set up a <%= link_to "Contact", contact_path %> page 
	just for that.
</p>
<p>
	<b>Website naming:</b><br>
	I am still trying to figure out what to name this website. If you have any 
	ideas please send them my way. Below are the naming requirements. 
	I will choose a name based on availability and how catchy it is.<br><br>
	<b>Website naming requirements:</b>
	<ul>
		<li>The domain name (for example: www.familysocialnetwork.com) must be available</li>
		<li>I don't want it to contain 'Hubbard' in the name. I'm sure that the Hughs, Kowalski, Sergeant, Smith, Marsden, and Hopson families (as well as others) will be using this site.</li>
		<li>The shorter the better</li>
	</ul>
<p>
	<b>Logo:</b><br>
	I plan on making a logo for the website. However, I would also like to 
	take submissions for the website logo. If you are interested in making a 
	logo please do so with the following requirements and send it my way.<br><br>
	<b>Logo requirements:</b>
	<ul>
		<li>The site name must be established first</li>
		<li>It must have a white or transparent background</li>
		<li>It must match the color scheme of the website/layout</li>
		<li>It must be more on the small side</li>
		<li>No animations</li>
	</ul>
</p>